.none {
    display: none;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.todo-subtitle {
    display: flex;
    gap: 10px;
}

.todo-card {
    display: flex;
    gap: 10px;
}

.checkbox-holder {
    display: flex;
}

.checkbox {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.checkbox.selected {
    background-color: #4cafac;
    border-color: #4cafac;
}

.todo-info {
    flex: 1;
}

.todo-info.completed {
    opacity: 0.3;
    text-decoration-line: line-through;
}

.Extreme {
    /* color: red; */
    color: #D32F2F;
}

.High {
    color: #ff8001;
}

.Medium {
    color: #FBC02D;
}

.Low {
    color: #56bd5b;
}