.none {
    display: none;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.todo-subtitle {
    display: flex;
    gap: 10px;
}

.todo-card {
    display: flex;
    gap: 10px;
}

.checkbox {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.checkbox-holder {
    display: flex;
}