form {
    display: grid;
    grid-template-rows: 70px 35px 35px;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

#title {
    grid-column: 1 / 5;
    border-color: var(--color-card-border);
}

form > * {
    border: none;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color-card-border);
    padding-left: 5px;
}

#title {
    border: 2px solid var(--color-card-border);
    font-size: 1.5em;
    padding: 7px 7px 5px 7px;
    font-weight: bold;
    min-width: 500px;
}

#submit-btn {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    height: 30px;
    min-width: 100px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--color-add-btn);
    background-color: var(--color-add-btn);

    justify-self: center;
    align-self: center;
}

#submit-btn:hover {
    background-color: var(--color-add-btn-hover);
}

#notes {
    font-size: 1.1em;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    align-self: stretch;
    /* resize: vertical; */
    overflow-y: hidden;
}