body {
    display: flex;
    min-height: 100vh;
}

header {
    padding: 15px 0px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.sidebar.collapsed {
    width: 50px;
}

.main {
    padding: 50px 50px 50px;
    flex: 1;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.todo-subtitle {
    min-height: 10px;
    display: flex;
    gap: 10px;
}

.todo-card {
    padding: 5px 0px;
    display: flex;
}

.checkbox-holder {
    padding-right: 10px;
}

.todo-info {
    flex: 1;
}

.checkbox {
    margin: 30% 0px;
    width: 17px;
    height: 17px;
}

form {
    max-width: 25%;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}