body {
    display: flex;
    min-height: 100vh;
}

header {
    padding: 15px 0px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.sidebar {
    display: flex;
    width: 250px;
    flex-shrink: 0;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 50px;
    align-items: center;
}

.main {
    padding: 50px 50px 50px;
    flex: 1;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.todo-subtitle {
    min-height: 10px;
    display: flex;
    gap: 10px;
}

.todo-card {
    padding: 5px 0px;
    display: flex;
}

.checkbox-holder {
    padding-right: 10px;
}

.todo-info {
    flex: 1;
}

.checkbox {
    margin: 30% 0px;
    width: 17px;
    height: 17px;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

#remove-btn-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}

#modal-remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: center;
}

.collapse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-bottom: 50px;
}

.collapse-btn:hover {
    background-color: grey;
}

.project-name {
    margin-bottom: 5px;
}

.project-list {
    margin-left: 10px;
    margin-right: 10px;
}

.project-list li {
    display: flex;
    gap: 15px;
    border-radius: 10px;
}

.project-list .project-name:hover {
    background-color: var(--color-card-border);
}

.project-list h4 {
    font-size: 1.05em;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.add-project-name {
    margin-top: 10px;
}

.sort-dates{
    margin-left: auto;
}

.sort {
    background-color: var(--color-high-priority);
}

.sort:hover {
    background-color: var(--color-medium-priority);
}

.sort,
.remove-completed {
    margin-right: -5px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0px 9px 0p x 5px;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.remove-completed {
    background-color: var(--color-extreme-priority);
    color: var(--color-sidebar);
}

.remove-completed:hover {
    background-color: var(--color-remove-btn-hover);
}