body {
    display: flex;
    min-height: 100vh;
}

header {
    padding: 15px 0px;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.sidebar.collapsed {
    width: 50px;
}

.main {
    padding: 50px 50px 50px;
    flex: 1;
}

.none {
    display: none;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.todo-subtitle {
    min-height: 24px;
    display: flex;
    gap: 10px;
}

.todo-card {
    padding: 5px 0px;
    display: flex;
}

.checkbox-holder {
    display: flex;
    padding-right: 10px;
}

.todo-info {
    flex: 1;
}

.checkbox {
    margin-top: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid;
}

form {
    margin-top: 20px;
    max-width: 25%;
}