body {
    font-weight: normal;
    font-size: 1.1rem;
}

.sidebar {
    transition: 0.3s ease;
}

.todo-info.completed {
    opacity: 0.3;
    text-decoration-line: line-through;
}

.todo-title {
    font-size: 1.15em;
}

.add-btn {
    height: 30px;
    min-width: 50px;
    border-radius: 10px;
    border: 1px solid;
}

.checkbox {
    border-radius: 50%;
    border: 1px solid;
}

.modal-content {
    padding: 25px;
    border: 1px solid;
    border-radius: 10px;
}

#modal-remove-btn {
    height: 30px;
    min-width: 100px;
    border-radius: 10px;
    border: 1px solid;
}

.menu-icon {
    width: 35px;
    height: auto;
}

.remove-btn {
    border: none;
    background-color: inherit;
    border-radius: 10px;
}

.remove-btn:hover {
    /* background-color: rgba(255, 0, 0, 0.2); */
    background-color: var(--color-remove-btn);
}