body {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr>* {
    margin: 0px;
    padding: 2px;
    border: 2px solid black;
}

form {
    margin-top: 20px;
    max-width: 25%;
}