.sidebar {
    background-color: var(--color-sidebar);
}

li {
    border-top: 1px solid var(--color-card-border);
}

.todo-list:last-child  {
    border-bottom: 1px solid var(--color-card-border);
}

.checkbox {
    border-color: black;
}

 
.checkbox:hover {
    background-color: var(--color-checkbox-hover);
    border-color: var(--color-checkbox-hover);
}

.checkbox.selected {
    background-color: #000;
    border-color: #000;
}

.checkbox.selected.Extreme {
    background-color: var(--color-extreme-priority);
    border-color: var(--color-extreme-priority);
}

.checkbox.selected.High {
    background-color: var(--color-high-priority);
    border-color: var(--color-high-priority);
}
.checkbox.selected.Medium {
    background-color: var(--color-medium-priority);
    border-color: var(--color-medium-priority);
}
.checkbox.selected.Low {
    background-color: var(--color-low-priority);
    border-color: var(--color-low-priority);
}

.main {
    background-color: var(--color-main);
}


.Extreme {
    color: var(--color-extreme-priority);
}

.High {
    color: var(--color-high-priority);
}

.Medium {
    color: var(--color-medium-priority);
}

.Low {
    color: var(--color-low-priority);
}

.add-btn {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: var(--color-add-btn);
    border-color: var(--color-add-btn);
}

.add-btn:hover {
    background-color: var(--color-add-btn-hover);
}

.modal {
    background-color: rgb(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--color-main);
    border-color: var(--color-main);
}

#title {
    border-color: var(--color-card-border);
}