:root {
    --color-sidebar: #DDDBDB;
    --color-main: #E8F3F6;

    --color-extreme-priority: #D32F2F;
    --color-high-priority: #F57C00;
    --color-medium-priority: #FBC02D;
    --color-low-priority: #388E3C;

    --color-card-border: #c1c1c1;

    --font-base: "Inter", sans-serif;
}