:root {
    --color-sidebar: #efeded;
    --color-main: #E8F3F6;

    --color-extreme-priority: #D32F2F;
    --color-high-priority: #F57C00;
    --color-medium-priority: #ffbf00;
    --color-low-priority: #388E3C;
    --color-checkbox-hover: grey;

    --color-card-border: #c1c1c1;

    --font-base: "Inter", sans-serif;
    

    --color-add-btn: skyblue;
    --color-add-btn-hover: rgb(42, 160, 206);

    --color-remove-btn: rgba(255, 0, 0, 0.2);
    --color-remove-btn-hover: rgb(255, 0, 0);
}